Hello!

<ul>
    <li>
        <a href="{{ path('boskee_esendex_text_message_new', {type: 'text'}) }}">
            Send new text message
        </a>
    </li>
    <li>
        <a href="{{ path('boskee_esendex_text_message_new', {type: 'voice'}) }}">
            Send new voice message
        </a>
    </li>
</ul>